
@{
    ViewBag.Title = "NotAuthorised";
}

<header>
    <div class="create">
        <div class="container">

            <h2>Not Authorised</h2>
            <hr class="line" align="center"> <br />
            <p>Sorry, but you are not authorised to see this page.</p>
            <p>If you should be, please <a href="../Home/Contact"> Contact Us</a>.</p>

        </div>
    </div>
</header>

