
@{
    ViewBag.Title = "NotLoggedIn";
}

<header>
    <div class="create">
        <div class="container">

            <h2>Not Logged In</h2>
            <hr class="line" align="center"> <br />
            <p>Sorry, but you are not logged in.</p>
            <p>Please <a href="../Home/Index">login</a> and try again.</p>

        </div>
    </div>
</header>

