
@{
    ViewBag.Title = "Success";
}

<h2>Success</h2>
<p>Your message was sent successfully. We'll contact you as soon as possible</p>

<input taget="_top" type="button" value="Close" class="btn btn-primary" />
