

@model IEnumerable<SynergySolution.ModelHelper.LineMemberList>
<table style="max-width:25%">
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @item.name
            </td>
            <td>
                <button type="button" onclick="removerManagerId(@item.employId)">Remove</button>
                @*@Html.ActionLink("Remove", "RemoveFromList", new { id = item.Id })*@
            </td>
        </tr>
    }
</table>