@model SynergySolution.Models.LineManager

@{
    ViewBag.Title = "Details";
}

<link href="~/Content/modern-business.css" rel="stylesheet" />

<h2 class="center">Welcome Line Manager!</h2>


<div class="row">

    <div class="col-lg-3 mb-4">
        <div class="list-group">
            <a href="#" class="list-group-item active">Dashboard</a>
            <a href="#" class="list-group-item">Messages</a>
            <a href="#" class="list-group-item">Performance Reviews</a>
            <a href="#" class="list-group-item">Stakeholder Feedback</a>
            <a href="#" class="list-group-item">Objectives</a>
        </div>
    </div>


    <div class="col-lg-9 mb-4">
        <container>
            <h2>Section Heading</h2>
            <p>--INSERT TEXT HERE--</p>
        </container>

    </div>
</div>